.list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.list__gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 20vw);
  grid-gap: 15px;
  width: 90vw;

  img {
    max-height: 220px;
  }
}
