.list__wrapper {
  margin-top: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.list__gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5vh;
  width: 85vw;
  &:hover {
    img {
      transform: scale(.85);
    }
  }

  img {
    max-height: 220px;
    transition: transform .25s ease;
    &:hover {
      transform: scale(1.45);
    }
  }
}

@media only screen and (max-width: 750px) {
  .list__gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}


@media only screen and (max-width: 500px) {
  .list__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}


